body{ margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.container{ padding-left: 15px;
    padding-right: 15px;
    max-width: 1140px;
    margin: auto;

}
.logo_img{ width: 200px;
    height: 140px;
    background-color: white;
    box-shadow: 1px 1px 10px grey;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 15px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}
.logo_div{position: relative;

}
.logo_icon_text_media{display: flex;
    align-items: center;
     
}
.img_number{ display: flex;
    align-items: center;
    gap: 6px;

}
.img_number p{ font-size: 15px;

}
.icon_text_media{ display: flex;
    align-items: center;
    justify-content: end;
    gap: 130px;


}
.icon_text{ display: flex;
    align-items: center;
     gap: 15px;
     
}
.media_icon{  margin-left: 40px;

}
.bg_color{background-color:  #0074AE;
          /* height: 93px; */
          height: auto;
          display: flex;
}
.active{ color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding-bottom: 0px;

}
.navigation_bar{
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: end !important;
    gap: 125px;
    margin-left: 179px;
}
.navigation_bar ul{ list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    gap: 15px;
}
.navigation_bar li{display: flex;
    gap: 30px;

}
.navigation_bar a{ text-decoration: none;
          color: white;
          font-size: 15px;
          /* font-weight: 200; */
         
}
.appoint_box{width: 230px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
     display: flex;
    align-items: center;
    justify-content: center;
       gap: 20px;
       cursor: pointer;

}
.appoint_box p{ margin: 0;
    font-size: 15px;
    font-weight: 700;
    color: #0074AE;

}
.round_box{height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid rgb(4, 133, 198);
    display: flex;
    align-items: center;
    justify-content: center;

}
.bg_image{ background-image: url('images/Group\ 4474.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.heading_text_box_btn_blk1{  display: flex;
    flex-direction: column;
    gap: 25px;

}

.heading_text_image{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}
.heading_text_blk1{ display: flex;
    flex-direction: column;
    gap: 10px;

}
.heading_text_blk1 h1{ margin: 0;
    color: #FF6320;

    font-weight: 600;
    font-size: 50px;


}
.heading_text_blk1 h6{ margin: 0;
    font-weight: 400;
    font-size: 33px;

}
.text_box_button_blk1{ display: flex;
    flex-direction: column;
    gap: 25px;

}
.text_width{ margin: 0;
    font-weight: 400;
    font-size: 16px;
         width: 515px;
}
.box4_img_blk1{ display: flex;
    align-items: center;
    flex-wrap: wrap;
     gap: 15px;
}
.box_img_blk1{height: 95px;
    width: 130px;
    background: white;
    border-radius: 5px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap:10px;
}
.box_img_blk1 p{margin: 0;

}
.button_blk1{height: 53px;
    width: 276px;
    background-color: #0074AE;
    border-radius: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap:20px;
     cursor: pointer;
}
.button_blk1:hover{ background-color: white;
                border: 1px solid #0074AE;
}
.button_blk1:hover a{
    color: #005C89;
}
.button_blk1:hover .round_box_blk1{
    border: 2px solid #0074AE;
}
.button_blk1 a{ color: white;
           font-size: 16px;
           font-weight: 700;
           text-decoration: none;
           display: flex;
           align-items: center;
           gap: 20px;
}
.round_box_blk1{height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
   

}
.doctor_imgs{ max-height: 600px;
    max-width: 500px;

}
.text_box_images_blk2{ display: flex;
       flex-direction: column;
       align-items: center;
       gap: 30px;
       padding: 50px 0 50px 0;
}
.text_heading_blk2 { display: flex;
    flex-direction: column;
    align-items: center;
    max-width:800px;
    gap: 20px;
    

}
.text_heading_blk2 h5{ margin: 0;
    color: #FF6320;

}
.text_heading_blk2 h3{ margin: 0;
    font-size: 30px;
    font-weight: 600;
    text-align: center;

}
.text_heading_blk2 p{ margin: 0;
    font-size: 16px;
    font-weight: 400;

}
.box8_img_text_blk2{display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
      gap: 25px;
}
.box_img_text_button_blk2{height: 360px;
    width: 265px;
    background-color: white;
    border: 1px solid rgb(208, 205, 205);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
   padding: 13px;
   box-sizing: border-box;
   gap: 18px;
}
.box_img_text_button_blk2:hover{box-shadow: 1px 1px 20px rgb(220, 217, 217);
    border: 1px solid transparent;

}
.box_img_text_button_blk2 img{height: 170px;
    width: 237px;

}
.box_img_text_button_blk2 h4{margin: 0;

}
.box_img_text_button_blk2 p{ margin: 0;
    font-size: 12px;

}
.box_img_text_button_blk2 a{width: 90px;
    border-radius: 30px;
    padding: 7px;
    border: 1px solid #FF6320;
    font-size: 13px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    text-align: center;
}
.box_img_text_button_blk2 a:hover{ background-color: #FF6320;
                        color: white;
}
.background_color_blk3{ background-color: #F9F9F9;

}
.text_heading_icons_blk3{ display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 0 50px 0;

}
.box8_icon_text_blk3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}
.box_icon_text_blk3{ height: 175px;
    width: 262px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(231, 229, 229);
    padding: 12px;
       box-sizing: border-box;
       position: relative;
}
.box_icon_text_blk3:hover{ box-shadow: 1px 1px 20px rgb(220, 217, 217);
    border: 1px solid transparent;

}
.box_icon_text_blk3:hover .round_box_blk3 {
    background-color: #FF6320;
}
.box_icon_text_blk3:hover  .head_icon h4{
    border-bottom: 1px solid #FF6320;
}
.box_icon_text_blk3:hover  .circle_blk3{
    border: 1px solid #FF6320;
}
.box_icon_text_blk3 p{ font-size: 12px;

}
.head_icon{ display: flex;
 align-items: center;
 justify-content: space-between;
}
.head_icon h4{ border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin: 0;

}
.head_icon h4:hover{ border-bottom: 1px solid #FF6320;
   
}
.circle_blk3{ height:60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid #0074AE;
    display: flex;
    align-items: end;
    justify-content: center;

}
.round_box_blk3{ height: 55px;
               width: 55px;
               border-radius: 50%;
               background-color: #0074AE;
               display: flex;
               align-items: center;
               justify-content: center;
}
/* .circle_blk3:hover{border: 1px solid #FF6320;

}
.round_box_blk3:hover{ background-color: #FF6320;
   
} */
.button{ padding: 8px;
    background-color: #FF6320;
    width: 80px;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    position: absolute;
    left: 50px;
    bottom: 0px;
    opacity: 0;
    transition: 1s;


}
.box_icon_text_blk3:hover .button{bottom: -10px;
    opacity: 1;

}
.block4{background-image: url('images/bg_lab.png');
           height: auto;
           width: 100%;
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
        }
.lab_experiment_img_bttn{background-image: url('images/lab_experiment.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px;
    width: 510px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
   bottom: 10px;
   position: relative;
   z-index: 0;
        }
.lab_experiment_img_bttn::before{content: "";
                        height: 100%;
                         width: 100%;
                         position: absolute;
                         border-radius: 15px;
                        background-color: #003b5963;
                        opacity: 0;
                        z-index: 1;
                        cursor: pointer;

}
.lab_experiment_img_bttn:hover::before{opacity: 1;
            

}
.lab_experiment_img_bttn h5{ margin: 0;
    color: white;
    font-size: 20px;
} 
.lab_experiment_img_bttn a{padding: 10px;
    background-color: white;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color: #0074AE;
   font-weight: 600;
   width: 100px;

}   
.lab_experiment_img_bttn a:hover{ background-color: #0074AE;
    color: white;

}
.head_text_button{ display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
    z-index: 2;
}   
.img_text_head_blk4{ display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 0 100px 0;

}
.heading_text_blk4{ display: flex;
    flex-direction: column;
    width: 560px;
    gap: 18px;

}
.white_box_text{ height: 20px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    color: #FF6320;
    display: flex;
    align-items: center;
    justify-content: center;

}
.white_box_text h6{ margin: 0;

}
.heading_text_blk4 h5{ margin: 0;
           color: white;
           font-size: 20px;
           font-weight: 400;
}
.heading_text_blk4 h3{margin: 0;
    color: white;
    font-size: 30px;
    font-weight: 600;

}
.heading_text_blk4 p{margin: 0;
    color: white;
    font-size: 14px;
    font-weight: 400;

}
.box8_imgs_text_blk4{display: flex;
    flex-wrap: wrap;
    gap: 30px;

}
.white_box_imgs_text{ height: 110px;
    width: 115px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.white_box_imgs_text h6{ margin: 0;

}
.heading_text_box_imgs_blk5{ display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 0 50px 0 ;

}
.box8_imgs_blk5{ display: flex;
    align-items: center;
    flex-wrap: wrap;
         gap: 40px;
}
.image1_blk5{ width: 250px;
    height: 250px;
    border-radius: 10px;
    background-image: url('images/pain_img1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
}
.image2_blk5{ width: 250px;
    height: 250px;
    border-radius: 10px;
    background-image: url('images/pain_img2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
}
.image3_blk5{ width: 250px;
    height: 250px;
    border-radius: 10px;
    background-image: url('images/pain_img3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
}
.image4_blk5{ width: 250px;
    height: 250px;
    border-radius: 10px;
    background-image: url('images/pain_img4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
}
.image5_blk5{ width: 250px;
    height: 250px;
    border-radius: 10px;
    background-image: url('images/pain_img5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
}
.image6_blk5{ width: 250px;
    height: 250px;
    border-radius: 10px;
    background-image: url('images/pain_img6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
}
.image7_blk5{ width: 250px;
    height: 250px;
    border-radius: 10px;
    background-image: url('images/pain_img7.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    z-index: 0;
}
.image7_blk5::before{content: "";
    height: 100%;
     width: 100%;
     position: absolute;
     border-radius: 10px;
    background-color: #003b5963;
    opacity: 0;
    z-index: 1;
    cursor: pointer;

}
.image8_blk5{ width: 250px;
    height: 250px;
    border-radius: 10px;
    background-image: url('images/pain_img8.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    z-index: 0;
}
.image8_blk5::before{content: "";
    height: 100%;
     width: 100%;
     position: absolute;
     border-radius: 10px;
    background-color: #003b5963;
    opacity: 0;
    z-index: 1;
    cursor: pointer;

}
.image7_blk5:hover::before{ opacity: 1;
   z-index: 2;
}
.image8_blk5:hover::before{ opacity: 1;
    z-index: 2;
 }
.image1_blk5 h6{ color: white;
}
.image2_blk5 h6{ color: white;
}
.image3_blk5 h6{ color: white;
}
.image4_blk5 h6{ color: white;
}
.image5_blk5 h6{ color: white;
}
.image6_blk5 h6{ color: white;
}
.image7_blk5 h6{ color: white;z-index: 2;
}
.image8_blk5 h6{ color: white;
    z-index: 2;
}
.head_text_doctor_img_blk6{ display: flex;
           align-items: center;
           flex-wrap: wrap;
           justify-content: space-between;
           padding: 50px 0 50px 0;
}
.heading_text_btn_blk6{ display: flex;
    flex-direction: column;
    gap: 13px;
    max-width: 700px;

}
.heading_text_btn_blk6 h5{margin: 0;
                     color: #FF6320;
}
.heading_text_btn_blk6 h3{ margin: 0;
    font-size:30px ;
    font-weight: 600;

}
.heading_text_btn_blk6 p{margin: 0;
         font-size: 15px;

}
.text_blk6 h6{ margin: 0;
          font-size: 13px;
}
.text_blk6 p{margin: 0;
    font-size: 13px;
    width: 230px;

}
.images_icon_text_blk6{
    display:flex;
    flex-direction: column;
    gap:30px;
}
.icon_img2_blk6{ display: flex;
    flex-wrap: wrap;
      gap: 20px;
}
.icon_text_blk6{ display: flex;
         gap: 10px;
}
.icon_text_blk6 img{ height: 40px;
    width: 40px;

}
.text_blk6{ display: flex;
    flex-direction: column;
    gap: 5px;

}
.docotor_detail_box_blk6{ height: 515px;
             width:350px;
          background-color: white;
          border-radius: 10px;
          box-shadow: 1px 1px 10px rgb(179, 178, 178);
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
}
.doctor_img{height: 290px;
    width:260px;

}
.docotor_detail_box_blk6 h3{ margin: 0;
    color:#FF6320 ;

}
.docotor_detail_box_blk6 h4{margin: 0;
     
}
.docotor_detail_box_blk6 h5{margin: 0;}
.docotor_detail_box_blk6 h6{margin: 0;}
.button_blk6{ height: 40px;
    width: 200px;
    background-color: #0074AE;
         border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      cursor: pointer;
}
.button_blk6 a{ text-decoration: none;
          color: white;
          font-size: 14px;
          font-weight: 400;
}
.round_circle_blk6{height: 24px;
    width: 24px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.block7{ background-image: url('images/patient_detail.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
        z-index: 0;
}
.overlay{ background-color: #0074aeb7;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;

}
.icon4_text_blk7{display: flex;
    align-items: center;
    flex-wrap: wrap;
      justify-content: space-between;
     padding-top: 50px;
}
.icon_text_blk7{ display: flex;
    align-items: center;
    flex-direction: column;

}
.icon_text_blk7 h5{ margin: 0;
    color: white;
    font-size: 30px;
    font-weight: 800;

}
.icon_text_blk7 h6{ margin: 0;
    color: white;
    font-size: 15px;

}
.image_icon_text_blk7{ background-image: url('images/appointment.png');
                         height: 400px;
                         width: 500px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        display: flex;
                        flex-direction: column;
                        justify-content: end;
                        align-items: center;

}
.icon_mid_text_blk7 p{ color: white;
    text-align: center;
    width:310px;
    font-size: 23px;
    font-weight: 600;

}
.icon_mid_text_blk7{  display: flex;
    flex-direction: column;
    align-items: center;


}
.img_from_blk7{ display: flex;
    align-items: center; 
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70px;
      
}
.from_blk7{  background-color: white;
    display: flex;
justify-content: center;
    flex-direction: column;
     gap: 20px;
     height: 400px;
     width: 500px;
     padding-left: 45px;
     box-sizing: border-box;
     box-shadow: 1px 1px 10px gray;

}
.from_blk7 input{ height: 40px;
    max-width: 400px;
    outline: none;

}
.background_blk8{ background-image: url('images/Group\ 2693.png');
    margin-top: 220px;

}
.head_Text_images_blk8{ padding: 50px 0 50px 0;
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 30px;
}
.links_box_blk8{
    display: flex;
    align-items: center;
    gap: 15px;
}
.button_blk8{ height: 35px;
    width: 150px;
    border: 1px solid rgb(190, 188, 188);
     border-radius: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
}
.button_blk8:hover{ background-color: #0074AE;
    color: white;
}
.button_blk8 a{ 
    text-decoration: none;
    color: black;

}
.button_blk8 a:hover { background-color: #0074AE;
    color: white;

}
.images_box_blk8{ display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;


}
.images_box_blk8 img{ height: 250px;
    width: 250px;
}
.overlay_blk8{ background-image: linear-gradient(top to bottom );

}
.background_blk9{ background-image: url('images/Group\ 1000001071.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;

}
.head_text_img_blk9{ display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 70px 0 70px 0;

}
.box_img_blk9{ height: 200px;
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.box4_blk9{ display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

}
.box_text_customer_blk9{display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}
.stiven_customer{ display: flex;
    flex-direction: column;
    align-items: center;
     gap: 10px;
}
.stiven_customer h6{margin: 0;
    color: #FF6320;
    font-size: 15px;

}
.stiven_customer p{ margin: 0;


}
.box_img_blk9 p{ font-size: 14px;
    padding: 7px;
    box-sizing: border-box;

}
.head_text_imgs_blk10{ display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 60px 0 60px 0;

}
.box4_imgs_text_blk10{display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

}
.box_img_blk10{ height: 395px;
    width: 250px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(196, 194, 194);

}
.box_img_blk10:hover{ box-shadow: 1px 1px 10px rgb(214, 214, 214);
    border: 1px solid transparent;
}
.health_tips_imgs{ height: 200px;
    width: 250px;

}
.text_icon_blk10{ padding: 10px;

}
.text_icon_text{ display: flex;
    flex-direction: column;
    gap: 10px;

}
.text_icon_text h5{margin: 0;

}
.icon2_text{ display: flex;
    align-items: center;
    gap: 18px;

}
.icon_text_blk10{ display: flex;
    align-items: center;
    gap: 10px;

}
.icon_text_blk10 p{margin: 0;

}
.text_button_blk10{ display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(209, 206, 206);
    padding-top: 8px;
}
.text_button_blk10 h5{ margin: 0;

}
.button_blk10 a{text-decoration: none;
    color:black;
    font-size: 14px;
     
}
.button_blk10 a:hover{color: #0074AE;

}
.lines2_box{ display: flex;
    align-items: center;
    gap: 15px;
      
}
.line_blue{ height: 5px;
    width: 30px;
    background-color:#0074AE;
    border-radius: 10px;

}
.line_gray{height: 5px;
    width: 30px;
    background-color: #c0c1c2;
    border-radius: 10px;

}
footer{ background-image: url('images/Group\ 4427.png');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
}
.logo_links_footer{ display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 60px;

}
.footer_logo_media_icon{ display: flex;
    align-items: center;
    justify-content: space-between;
        border-bottom: 3px dashed white;
        padding-bottom: 30px;
}
.text_media_icon{ display: flex;
    align-items: center;

}
.text_media_icon h4{ margin: 0;
    color: white;

}
.text_links_footer{ display: flex;
                   justify-content: space-between;
}
.links_text_footer{width: 300px;
         display: flex;
         flex-direction: column;
             gap: 10px;
}
.links_text_footer h4{ margin: 0;
    color: white;
    width: 75px;
    border-bottom: 1px solid white;

}
.links_text_footer p{ margin: 0;
    color: white;

}
.icon_img_footer{ display: flex;
    align-items: center;
    gap: 10px;

}
.icon_img_footer img{ height: 15px;
    width: 17px;

}
.links_footer{display: flex;
    flex-direction: column;
       gap: 10px;

}
.links_footer h4{ margin: 0;
    color: white;
    font-size: 14px;
    width: 100px;
    border-bottom: 1px solid white ; 

}
.links_footer p{margin: 0;
    color: white;
    font-size: 14px;

}
.address{ width: 250px;

}
.links_footer ul{list-style: none;
             padding-left: 0;
             display: flex;
             flex-direction: column;
             gap: 10px;
             margin: 0;
             
}
.links_footer a{color: white;
    text-decoration: none;
    font-size: 14px;
}
.links_footer a:hover{color: #02a7fa;

}
.copy_right_text{  border-top: 1px solid white;

}
.copy_right_text p{ margin: 0;
    padding: 20px 0 20px 0;
    color: white;
         text-align: center;
}











/* about doctor page */
.about_doctor{ background-image: url('images/Group\ 1000000950.png');
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               width: 100%;
               height: 150px;
               position: relative;
            
        
}
.about_text h3{  padding-top: 70px;
     margin: 0;
     color: #0074AE;
    

}
.box_text_abd{ height: 40px;
    width: 250px;
    background-color: white;
    border-radius: 20px;
     box-shadow: 1px 1px 10px rgb(214, 214, 214);
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     bottom: -20px;
     right: 100px;
}
.box_text_abd p{ margin: 0;
             font-weight: 700;
}
span{ color: #FF6320;

}
.image_about_doctor_text_abd2{ display: flex;
    flex-wrap: wrap;
    align-items: center;
             justify-content: space-between;
               padding: 60px 0 60px 0;
}
.box_imgs_abd2{ height: 350px;
    width: 350px;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(167, 166, 166);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.doctor_png{height: 280px;
          width: 250px;
        position: absolute;
         bottom: 0;
}
.rectangle_imgs{ height: 280px;
    width: 280px;

}
.box_media_icon_abd2{ height: 80px;
                max-width: 800px;
                background-color: white;
                box-shadow: 1px 1px 10px rgb(196, 195, 195);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 90px;
}
.doctor_name h2{ margin: 0;
               color: #FF6320;
}
.doctor_name p{ margin: 0;
    font-weight: 600;
    font-size: 15px;

}
.icon4_text_abd2{ display: flex;
    flex-direction: column;

}
.icon_text_abd2{display: flex;
    align-items: center;
    gap: 80px;

}
.icon_text_abd2 p{ font-size: 13px;
    font-weight: 600;

}
.icontext_abd2{ display: flex;
    align-items: center;
    gap: 10px;

}
.para{ border-top: 1px solid rgb(179, 177, 177);
       padding-top: 20px;
       width: 700px;
}
.book_no_abd2{
    display: flex;
    align-items: center;
    gap: 40px;
}
.book_button_no{ height: 40px;
    width: 180px;
    background-color: white;
    border: 1px solid #0074AE;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;

}
.book_button_no:hover{ background-color: #0074AE;
         color: white;

}
.bg_abd3{ background-image: url('images/Rectangle\ 160963.png');

}
.links_abd3 ul{ list-style: none;
                 display: flex;
                 flex-direction: column;
                 gap: 29px;
}
.anchor1{text-decoration: none;
    color: white;
    padding:15px 50px 15px 50px;
    background-color: #0074AE;
    border-top-right-radius: 5px;
     border-top-left-radius: 5px;
}
.anchor1:hover{ padding:15px 70px 15px 70px;
             color: #FFE500;
             border-bottom-right-radius: 5px;
             
}
.anchor2{text-decoration: none;
    color: white;
    padding:15px 47px 15px 48px;
    background-color: #016CA1;
    
}
.anchor2:hover{ padding:15px 70px 15px 70px;
    color: #FFE500;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.anchor3{text-decoration: none;
    color: white;
    padding:15px 43px 15px 43px;
    background-color: #005C89;
   
}
.anchor3:hover{ padding:15px 70px 15px 70px;
    color: #FFE500;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.anchor4{text-decoration: none;
    color: white;
    padding:15px 50px 15px 50px;
    background-color: #004B71;
    
}
.anchor4:hover{ padding:15px 70px 15px 70px;
    color: #FFE500;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.anchor5{text-decoration: none;
    color: white;
    padding:15px 39px 15px 39px;
    background-color: #003C59;
    border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
}
.anchor5:hover{ padding:15px 70px 15px 70px;
    color: #FFE500;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.links_text_abd3{ display: flex;
    flex-wrap: wrap;
              justify-content: space-between;
              padding: 60px 0 60px 0;
}
.text_abd3 h3{margin: 0;

}
.text_abd3 p{margin: 0;

}
.text_thumb_abd3{ display: flex;
     flex-direction: column;
     gap: 15px;

}
.text_thumb_abd3 h4{margin: 0;

}
.text_abd3{ border: 1px solid rgb(216, 214, 214);
           border-radius: 10px;
           width: 800px;
           padding: 20px;
           display: flex;
           flex-direction: column;
           gap: 15px;
}
.thumb_text{ display: flex;
    align-items: center;
    gap: 10px;

}
/* treatment web page */

.treat1{background-image: url('images/Group\ 1000001014.png');
        background-position: center;
        width: 100%;
        height: 655px;
}
.heading_text_button_treat1{ display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 140px;

}
.text_treat1{ display: flex;
    flex-direction: column;
    gap: 18px;

}
.text_treat1 p{margin: 0;
    color: #FF6320;

}
.text_treat1 h2{margin: 0;
    font-size: 37px;
    width: 700px;

}
.text_button_treat1 p{margin: 0;
    width: 500px;

}
.text_button_treat1{ display: flex;
    flex-direction: column;
       gap: 50px;    

}
.button_treat1{ display: flex;
    align-items: center;
    gap: 20px;

}
.appoint_treat1{text-decoration: none;
     padding: 15px 30px 15px 30px;
     border-radius: 5px;
         background-color: #0074AE;
         color: white;
          font-weight: 600; 
}
.appoint_treat1:hover{ color: black;
    background-color: white;
   
}
.contact_treat1{text-decoration: none;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
        border: 1px solid #016CA1;
        background-color: white;
        color: black;

}
.contact_treat1:hover{ background-color: #0074AE;
    color: white;
    border: 1px solid transparent;

}
.image_treat2{ display: flex;
    flex-wrap: wrap;
               gap: 55px;
               padding: 70px 0 70px 0;

}
.image_treat2 img{height: 400px;
                   width: 400px;
}
.surgery_text{margin: 0;
    color: #FF6320;

}
.text_head_treat2 { display: flex;
              flex-direction: column;
                 gap: 20px;
                 max-width: 680px;
}
.text_head_treat2 h3{margin: 0;

}
.text_head_treat2 p{margin: 0;

}
.contact_treat2{text-decoration: none;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    color: white;
    width: 80px;
        background-color:#0074AE;

}
.treat3{background-image: url('images/Group\ 1000001020.png');
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
}
.icon_text_treat3{  padding: 50px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}
.icon_treat3{
    display: flex;
    align-items: center;
     gap: 10px;
} 
.text_treat3 h5{margin: 0;
    color: white;

}
.text_treat3 p{margin: 0;
    color: white;

}
.text_treat3 a{ color: white;
              text-decoration: none;

}


.box_text_imgs_text_treat4{display: flex;
                    flex-wrap: wrap;
                  justify-content: space-between;
                  align-items: center;
                  gap: 40px;
                  padding: 60px 0 50px 0;
}
.box_treat4{height: 490px;
    width: 320px;
         background-color: white;
         box-shadow: 1px 1px 10px rgb(194, 194, 194);
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 30px;
}
.border_box{ height: 30px ;
    width: 290px;
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
      align-items: center;
      padding-left: 20px;
      box-sizing: border-box;
 
}
.border_box:hover{ background-color: #0074AE;
         color: white;
         border: 1px solid transparent;

}
.border_box p{ border-bottom: 1px solid white;

}
.image_box_text_treat4{  
         height: 400px;
         width: 780px;
          background-color: white;
          box-shadow: 1px 1px 10px rgb(214, 214, 214);
          border-radius: 20px;
          border-top: 7px solid #016CA1;
          display: flex;
          align-items: center;
          gap: 20px;
}
.image_box_text_treat4{ display: flex;
                 align-items: center;
                 gap: 20px;
}
.image_box_text_treat4 img{ height: 400px;
                   width: 240px;

}
.text_treat4 h4{font-size: 25px;

}

/* contact web page */

.map_box_text_contact2{ display: flex;
                   align-items: center;
                  justify-content: space-between;
                  padding: 60px 0 60px 0;
                  flex-wrap: wrap;

}
.box_text_contact2{ display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 580px;
}
.box_clinic_contact2{height: 130px;
    width: 480px;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(214, 213, 213);
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
}
.box_clinic_contact2 h4{color: #FF6320;
    margin: 0;
    font-size: 15px;

}
.clinic_text{ color: #FF6320;
             margin: 0; 
             font-size: 15px;
}
.icon_text_contact2{display: flex;
    gap: 30px;

}
.location_contact2 { display: flex;
                    align-items: center;
                    gap: 10px;
}
.location_contact2 img{height: 25px;
    width: 25px;

}
.location_contact2 p{margin: 0;
    font-size: 11px;
    width: 100px;

}
.call_contact2{ display: flex;
            flex-direction: column;
            gap: 10px;
}
.c_call{ display: flex;
    align-items: center;
    gap: 10px;
}
.c_call img{height: 20px;
    width: 20px;

}
.c_call p{ margin: 0;
    font-size: 13px;

}


.c_email{display: flex;
    align-items: center;
    gap: 10px;

}
.c_email img{height: 20px;
    width: 20px;

}
.c_email p{margin: 0;
    font-size: 13px;

}
.contact3{ background-image: url('images/Group\ 1000001067.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: auto;
                
}
.text_form{ width:620px;
    
}
.text_form_imgs_contact3{ display: flex;
               flex-wrap: wrap;
               justify-content: space-between;
                padding-top: 60px;

}
.text_form_imgs_contact3 img{ height: 600px;
              width: 500px;
}
.img_from_blk7{ display: flex;
    align-items: center; 
    justify-content: center;
    padding-top: 70px;
      
}
.from_contact3{  background-color: white;
    display: flex;
justify-content: center;
    flex-direction: column;
     gap: 20px;
     height: 400px;
     width: 500px;
     padding-left: 45px;
     box-sizing: border-box;
     box-shadow: 1px 1px 10px gray;
     border-radius: 10px;

}
.from_contact3 input{ height: 40px;
    width: 400px;

}
textarea{height: 70px;
    width: 400px;
    outline: none;
}
.round_box_blk1 img{ height: 15px;
    width: 15px;


}









